{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}
{% get_media_prefix as MEDIA_URL %}
{% get_static_prefix as STATIC_URL %}
{% block extra_style %}
  	<style type="text/css">
  		.t-header-search-box2  {
  			display: flex;
		    width: 30%;
		    height: 40px !important;
		    background: #f3f5f6;
		    border-radius: 50px;
		    padding: 5px;
		    transition: 0.3s ease-in-out;
		    transition-property: "width";
		    overflow: hidden;
  		}
  		.t-header-search-box2 .form-control {
  			height: inherit;
  			border: none;
		    background: transparent;
		    font-size: 1rem;
		    font-weight: 500;
		    padding-left: 0;
		    padding: 5px 20px;
  		}
  		.t-header-search-box2 button {
  		    height: 100%;
  		    border-radius: 50px;
  		    padding: 0 7px;
  		    box-shadow: 0px 0px 5px -1px #696ffb;
  		    transition-duration: 0.3s;
  		}
  		.t-header-search-box2 a {
  		    height: 100%;
  		    border-radius: 50px;
  		    padding: 0 7px;
  		    box-shadow: 0px 0px 5px -1px #696ffb;
  		    transition-duration: 0.3s;
  		}
  	</style>
{% endblock %}

{% block main %}
	<div class="row">	 
	  	<div class="col equel-grid">
		    <div class="grid">
		      <div class="grid-body py-3 split-header">
		        <p class="card-title ml-n1">Clientes</p>
		        <form action="#" class="t-header-search-box2">
		          <div class="input-group">
		          	{% if name %}
		          		<input type="text"  value="{{name}}" autofocus onfocus="this.select()"  name="name" class="form-control" id="inlineFormInputGroup" placeholder="Nombre cliente" autocomplete="off">
		          	{% else %}
		          		<input type="text" autofocus name="name" class="form-control" id="inlineFormInputGroup" placeholder="Nombre o apelllido de cliente" autocomplete="off">
		          	{% endif %}
		            <button style="height: 32px;" title="Consultar" class="btn btn-primary" type="submit"><i class="mdi mdi-send"></i></button>
		        	<a title="Limpiar" style="height: 32px;" class="btn btn-danger" href="{% url 'clientes-list'%}"><i class="mdi mdi-window-close"></i></a>
		          </div>
		        </form>
		        {% if clientes.count > 0 %}
			        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
				{% else %}
					<span class="alert alert-danger">
						Sin resultado
					</span>
				{% endif %}

		        <a title="Crear cliente" href="{% url 'clientes-new' %}" class="btn btn-rounded social-icon-btn btn-facebook right"><i class="mdi mdi-plus"></i></a>          
		      </div>
		      
		      {% if messages %}
		        {% for message in messages %}              
		          <div class="alert alert-success alert-dismissible">
		            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		             {{message}}
		          </div>
		        {% endfor %}
		      {% endif %}
		      <div class="table-responsive">
		        <table class="table table-hover table-sm">
		          <thead>
		            <tr class="solid-header">
		              <th colspan="2" class="pl-4">Nombre</th>
		              <th>Teléfono</th>
		              <th>Correo electrónico</th>
		              <th>Activo?</th>
		              <th>Opciones</th>
		            </tr>
		          </thead>
		          <tbody>
		          	{% for item in clientes %}
		            <tr>
		              <td class="pr-0 pl-4">
		                <img class="profile-img img-sm" src="{% static 'home/images/profile/male/image_4.png' %}" alt="profile image">
		              </td>
		              <td class="pl-md-0">
		                <small class="text-black font-weight-medium d-block">{{item.first_name}} {{item.last_name}}</small>
		                <span class="text-gray">
		                  <span class="status-indicator rounded-indicator small bg-primary"></span>{{item.address}} </span>
		              </td>
		              <td>
		                <small>{{item.phone}}</small>
		              </td>
		              <td> {{item.email}} </td>
		              <td>  
		              	{% if item.status %}
		              		<div class="badge badge-success">Sí</div>
		              	{% else %}
		              	 	<div class="badge badge-danger">No</div>
		              	{% endif %}
		          		</td>
		              <td>
		              	<div class="btn-group">
		              	  <button type="button" class="btn btn-trasnparent action-btn btn-xs component-flat pr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		              	    <i class="mdi mdi-dots-vertical"></i>
		              	  </button>
		              	  <div class="dropdown-menu dropdown-menu-right">
		              	    <a class="dropdown-item" href="{% url 'clientes-delete' item.id %}">Eliminar</a>
		              	    <a class="dropdown-item" href="{% url  'clientes-edit' item.id %}">Editar</a>
		              	  </div>
		              	</div>
		              </td>
		            </tr>
		            {% endfor %}
		          </tbody>
		        </table>
		        <nav aria-label="Page navigation example">
		          <ul class="pagination justify-content-center">
	            	{% if page_obj.has_previous %}
	            		<li class="page-item">
	              			<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Anterior</a>
	              		</li>
	              	{% else %}
	              		<li class="page-item disabled">
	              			<a class="page-link" href="#" tabindex="-1">Anterior</a>
	              		</li>
	              	{% endif %}		         
	              	{% for page in page_obj.paginator.page_range %}   
	              		{% if page == page_obj.number %}   
	              			<li class="page-item active" >
	              				<a class="page-link" href="#">{{page}}</a>
	              			</li>
	              		{% else %}
	              			<li class="page-item" >
	              				<a class="page-link" href="?page={{page}}">{{page}}</a>
	              			</li>
	              		{% endif %}
		            {% endfor %}
		            {% if page_obj.has_next %}
		            	<li class="page-item">
		              		<a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
		            	</li>
		            {% else %}
	            		<li class="page-item disabled">
	            	  		<a class="page-link" href="#">Siguiente</a>
	            		</li>
		            {% endif %}
		          </ul>
		        </nav>
		      </div>
		    </div>
	  	</div>
	</div>
{% endblock %}